<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ title }}</title>
      <meta name="description" content="">
  </head>
  <body>
    <div class="navbar-fixed">
    <nav class="z-depth-0">
      <div class="nav-wrapper blue-grey darken-2">
        <a href="/" class="hide-on-med-and-down brand-logo"><img id="our-logo" src="/images/frontPage.svg"></a>
        <a href="/" id="title" class="brand-logo">Front Page</a>
        <a data-target="mobile-demo" class="sidenav-trigger left-align"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/"><i class="left material-icons">home</i>Home</a>
          </li>
          {{#if isAuthenticated}}
          <li>
            <a  class="white-text dropdown-trigger" data-target="favsDrop"><i class="left material-icons">account_box</i>Username</a>
            <ul id="favsDrop" class='dropdown-content'>
              <li>
                <a href="/profile" class="white-text">Profile</a>
              </li>
              <li>
                <a href="#!" class="red-text accent-2">Category A</a>
              </li>
              <li>
                <a href="#!" class="red-text accent-2">Category B</a>
              </li>
              <li>
                <a href="#!" class="red-text accent-2">Category C</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/logout" class="white-text">Logout</a>
          </li>
          {{else}}
          <li>
            <a href="/login"><i class="left material-icons">account_box</i>Login</a>
          </li>
          <li>
            <a href="/register"><i class="left material-icons">create</i>Sign Up</a>
          </li>
          {{/if}}
        </ul>

      </div>
    </nav>
    </div>
  </body>
