{{> header }}

<div class="row">
    <div class="col s10 m10 offset-s1 offset-m1">
      <div class="postcards card z-depth-0">
        <div class="card-content">
          <p class="card-title">Hey Look at This Post Title</p>
          <div class="card-action">
            <p class="red-text accent-2">Category</p>
            <p class="truncate">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div>
          <div class="card-action">
            <ul class="hide-on-small-and-down">
              <li class="left">
                <a href="#" class="red-text accent-2"><i class="left material-icons">arrow_drop_up</i>46</a>
              </li>
                <a href="#" class="red-text accent-2"><i class=" left material-icons">arrow_drop_down</i>3</a>
              </li>
              <li class="right">
                <a href="#" class="red-text accent-2"><i class="left material-icons">list</i>100</a>
              </li>
            </ul>
            <div class="right hide-on-med-and-up">
              <a class="red-text accent-2 dropdown-trigger btn-flat" href="#" data-target='dropdown1'><i class="material-icons">more_horiz</i></a>
              <ul id='dropdown1' class='dropdown-content'>
                <li>
                  <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_up</i>46</a>
                </li>
                <li>
                  <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_down</i>3</a>
                </li>
                <li>
                  <a href="#!" class="red-text accent-2"><i class="material-icons">list</i>100</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a class="right btn-floating btn-large waves-effect waves-light blue-grey darken-2"><i class="material-icons">reorder</i></a>
    <ul>
    <li><a class="btn-floating red accent-2"><i class="material-icons">whatshot</i></a></li>
    <li><a class="btn-floating red accent-2"><i class="material-icons">watch_later</i></a></li>
  </ul>
  </div>
  

 
  <footer class="footer">
    <p>&copy; Company 2017</p>
  </footer>

    </div> <!-- /container -->