body {
	color: #455a64;
}

#title {
	padding-left: 65px; 
}

.sidenav {
	width:230px;
}

#logo-container {
	height: 125px;
	margin-bottom: 35px;
}  

#our-logo {
	padding-left: 10px;
	width: 25%;
}

#sidenav-logo {
	padding: 20px 0 0 42px;
	width: 75%;
}

.postcards{
	padding-top: 20px;
}

.mobile-btns{
	/*font-size: 10px;*/ 
}

@media only screen and (max-width : 992px) {
  header, main, footer {
		padding-left: 0;
  }
  #title {
  	padding-left: 0px;
  }
}

@media only screen and (max-width : 497px) {
	.sidenav {
	width:180px;
	}
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #FF5252;
	box-shadow: 0 1px 0 0 #FF5252;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label{
	color: #FF5252;
}